# バイナリファイルを無視
*.env
*.ini
*.service
*.sock
*.exe
*.dll
*.json
*.Identifier
# ログファイルを無視
flask_output.log

*.cgi
*.htaccess

*.zip
*.pptx
*.txt
!ads.txt
!robots.txt
!requirements.txt



# OSやIDEの一時ファイルを無視
.DS_Store
Thumbs.db
.vscode/

logs/*




# ビルドディレクトリを無視
/build/
__pycache__/.env
__pycache__/
*.pyc
