services:
  web:
    build: .
    ports:
      - "5050:5050"
    environment:
      LIFESTYLE_API_BASE: "http://lifestyle_agent:5000"
      BROWSER_AGENT_API_BASE: "http://browser-agent:5005"
      FLASK_DEBUG: "1"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - .:/app
    restart: unless-stopped
    networks:
      - default
      - multi_agent_network

networks:
  multi_agent_network:
    external: true
    name: ${MULTI_AGENT_NETWORK:-multi_agent_platform_net}
